.container{
    border : 2px solid rgb(0, 0, 0);
    border-radius : 15px;
    margin : 50px;
    padding : 20px;
    text-align :center;
    box-shadow: 10px 10px rgb(178, 180, 180);
    background: #ffffff;
 

}
.container:hover{
    background: #e2dfdf;
   
}
.Aname{
  color: rgb(255, 188, 5) ;
 
}
p{
    color: rgb(5, 138, 247) ;
    font-size : 18px;
}