.picture{
    text-align :center;
}
.p1{
    color : rgb(224, 17, 17);
    text-align :center;
}
.container{
    border : 2px solid rgb(11, 202, 228);
    border-radius : 15px;
    margin : 50px;
    padding : 20px;
    text-align :center;
    background: #ffffff;
}
.container:hover{
    background: #ffffff;
    background: #f0fafc;
     box-shadow: 10px 10px rgb(11, 202, 228);
}